body, div, img,dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, table, th, td {margin:0; padding:0;}  

:root {
	--active-file-bg-color: #e8dfc4;
	--active-file-text-color:  #6ab98d;
	--bg-color: #f3f2ee;
	--text-color: #1f0909;
	--control-text-color: #444;
	--rawblock-edit-panel-bd: #e5e5e5;

	--select-text-bg-color: #e8dfc4;
	--select-text-font-color: #6ab98d;
	
	--font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

pre {
	--select-text-bg-color: #e8dfc4;
	--select-text-font-color: #6ab98d;
	border: 1px solid #04befe;
	box-shadow: 2px 2px 10px #e5e5e5;
}

html {
	font-size: 12px;
}

html, body {
	background-color: #faf6e6;
	font-family: var(--font-family);
	color: #8A2387;
	line-height: 1.2em;
}

#write {
	max-width: 40em;
	min-width: 40em;
	font-size: 1.334rem;
	line-height: 1.42rem;
}

@media only screen and (min-width: 1400px) {
	#write {
			max-width: 914px;
	}
}


/* 标题：h1~h6 */
#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
	font-weight: bold;
	margin-bottom: .75em;
	margin-top: 1em;
	/* background: linear-gradient(to right, #a8ff78 0%, #78ffd6 100%); */
	animation: font-gradient-ani 2s ease-in infinite;
	color: transparent;
	-webkit-background-clip: text;
}

#write h1 {
	font-size: 3rem;
	line-height: 3.2rem;
	margin-top: 2em;
	text-align: center;
	margin-bottom: .5em;

}

@keyframes font-gradient-ani{
	0% {
		background-image: linear-gradient(-225deg, #5D9FFF 0%, #f5d100 8%, #6BBBFF 100%);
	}
	12.5% {
		background-image: linear-gradient(-225deg, #5D9FFF 0%, #f5d100 16%, #6BBBFF 100%);
	}
	25% {
		background-image: linear-gradient(-225deg, #5D9FFF 0%, #f5d100 32%, #6BBBFF 100%);
	}
	50% {
		background-image: linear-gradient(-225deg, #5D9FFF 0%, #f5d100 48%, #6BBBFF 100%);
	}
	75% {
		background-image: linear-gradient(-225deg, #5D9FFF 0%, #f5d100 64%, #6BBBFF 100%);
	}
	87.5% {
		background-image: linear-gradient(-225deg, #5D9FFF 0%, #f5d100 80%, #6BBBFF 100%);
	}
	100% {
		background-image: linear-gradient(-225deg, #5D9FFF 0%, #f5d100 96%, #6BBBFF 100%);
	}
}

#write h1::after {
	display: block;
	content: '';
	width: 100%;
	height: 2px;
	animation: font-gradient-ani 2s ease-in-out infinite;
	box-shadow: 2px 2px 10px #5D9FFF;
}

#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
	position: relative;
}

#write h2::before,
#write h3::before,
#write h4::before,
#write h5::before,
#write h6::before {
	display: block;
	content: '';
	width: 20px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	color: white;
	position: absolute;
	top: -3px;
	left: -24px;
	font-size: 1.025em;
}


#write h2 {
	font-size: 2.5rem;
	line-height: 3.2rem;
}

#write h2::before {
	content: '2';
	background: linear-gradient(to bottom, #cc95c0, #dbb4b4, #7aa1d2)
}

#write h3 {
	font-size: 2rem;
	line-height: 3.2rem;
}

#write h3::before {
	content: '3';
	background: linear-gradient(to bottom, #A770EF, #CF8BF3, #FDB99B)
}

#write h4 {
	font-size: 1.5rem;
	line-height: 1.67rem;
}

#write h4::before {
	content: '4';
	background: linear-gradient(to bottom, #833ab4, #fd1d1d, #fcb045)
}

#write h5 {
	font-size: 1.17rem;
	line-height: 1.67rem;
}

#write h5::before {
	content: '5';
	background: linear-gradient(to bottom, #feac5e, #c779d0, #4bc08c)
}

#write h6 {
	font-size: 1rem;
	line-height: 1.67rem;
}

#write h6::before {
	content: '6';
	background: linear-gradient(to bottom, #1fa2ff, #12d8fa, #a6ffcb)
}

#write h3 + ul,
#write h4 + ul,
#write h5 + ul,
#write h6 + ul,
#write h3 + ol,
#write h4 + ol,
#write h5 + ol,
#write h6 + ol {
	margin-top: .5em;
}

/* 超链接 */
#write a {
	text-decoration: none;
	background-image: linear-gradient(to right, #40E0D0 0%, #FF8C00 50%, #FF0080 100%);
	color: transparent;
	-webkit-background-clip: text;
	
}
#write a:hover,
#write a:active {
	text-decoration: underline;
}

/* 按钮 */
#write button {
  outline: none;
  border: none;
  border-radius: 1rem;
  color: #f5f5f5;
  padding: 5px 20px;
  background-image: linear-gradient(to right, #AAE9E0 0%, #AAE9B9 100%);
}

#write button:hover {
  background-image: linear-gradient(to right, #72C5D2 0%, #AAE9B9 100%);
}

/* 代码块 */
#write blockquote,
#write q {
	quotes: none;
	margin-bottom: 1.5em;
}
#write blockquote:before,
#write blockquote:after,
#write q:before,
#write q:after {
	content: '';
	content: none;
}

#write blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	border-left: 4px solid #ffe564;
	background-color: #FFF7D0;
}
#write blockquote ul,
#write blockquote ol {
	margin-left:0;
}

#write pre,
#write code,
#write tt {
	font-size: .1.35em;
	line-height: 1.7em;
}

/* 代码段 */
#write code {
	padding: 2px 2px;
	background-color: #F3ECC7;
	color: #F86052;
}

#write tt {
	margin: 0 2px;
}

#write mark {
	background-color: #fbd3ea;
	border-radius: 2px;
	padding: 2px 4px;
	margin: 0 2px;
}

#write del {
	padding: 1px 2px;
	color: #999;
}

#write del span {
	color: #999;
}

#write pre.md-meta-block {
	padding: 1rem;
	font-size: 85%;
	line-height: 1.45;
	background-color: #f7f7f7;
	border: 0;
	border-radius: 3px;
	color: var(--control-text-color);
	margin-top: 0 !important;
}


#write strong,
#write em,
#write strong em {
	color: #6ab98d;
	padding-left: .2em;
	padding-right: .2em;
}

#write strong,
#write strong em {
	font-weight: 700;
}

#write em {
	font-weight: 500;
}

#write .md-footnote {
	background-color: #f8f8f8;
}

/* 列表 */

/* 有序列表 */
#write ol li {
	list-style-type: decimal;
	list-style-position: outside;
}

/* 无序列表 */
#write ul li {
	list-style-type: disc;
	list-style-position: outside;
}
#write ul,
#write ol {
	margin: 0 0 1.5em 1.5em;
	list-style: none;
}

#write p + ul,
#write p + ol{
	margin-top: .5em;
}

#write li > ul,
#write li > ol {
	margin-top: inherit;
	margin-bottom: 0;
}

#write li > ul {
	list-style-type: square;
}

#write li li > ul {
	list-style-type: circle;
}

#write li ol>li {
	list-style-type: lower-alpha;
}

#write li li ol>li{
	list-style-type: lower-roman;
}

#write blockquote ul,
#write blockquote ol {
	margin-left:0;
}

#write .auto-suggest-container ul li {
	list-style-type: none;
}

/* 分割线 */
#write hr {
	border-color: #6BBBFF;
	box-shadow: 2px 2px 10px blue;
}

/* 表格 */
#write table {
	margin-bottom: 1.5em;
	/*24 / 16*/
	font-size: 1em;
	/* width: 100%; */
	border-collapse: collapse;
	border-spacing: 0;
}
#write thead th,
#write tfoot th {
	padding: .25em .25em .25em .4em;
	text-transform: uppercase;
}

#write th,
#write td {
	border-right: 1px solid #F8CDDA;
}

#write th:last-child,
#write td:last-child {
	border-right: none;
}

#write th {
	text-align: left;
}
#write td {
	vertical-align: top;
	padding: .25em .25em .25em .4em;
}

#write thead {
	background-color: #72C5D2;
}

#write tbody tr:nth-child(even) {
	background-color: #AAE9BB;
}
#write tbody tr:nth-child(odd) {
	background-color: #AAD9B9;
}

#write tbody tr:hover {
	background-color: #AAD999;
	color: #ffffff;
}

.md-fences {
  font-size: inherit;
}