/* meyer reset -- http://meyerweb.com/eric/tools/css/reset/ , v2.0 | 20110126 | License: none (public domain) */

@include-when-export url(https://fonts.loli.net/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic-ext,cyrillic,latin-ext);

/* pt-serif-regular - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: normal;
	src: local('PT Serif'), local('PTSerif-Regular'), url('./newsprint/pt-serif-v11-latin-regular.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* pt-serif-italic - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: normal;
	src: local('PT Serif Italic'), local('PTSerif-Italic'), url('./newsprint/pt-serif-v11-latin-italic.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* pt-serif-700 - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: bold;
	src: local('PT Serif Bold'), local('PTSerif-Bold'), url('./newsprint/pt-serif-v11-latin-700.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* pt-serif-700italic - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: bold;
	src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url('./newsprint/pt-serif-v11-latin-700italic.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	--active-file-bg-color: rgba(255, 250, 232, .8);
	--active-file-text-color: white;
	--bg-color: #f3f2ee;
	--text-color: #1f0909;
	--control-text-color: #444;
	--rawblock-edit-panel-bd: #e5e5e5;

	--select-text-bg-color: rgba(32, 43, 51, 0.63);
  --select-text-font-color: white;
}

pre {
	--select-text-bg-color: #36284e;
	--select-text-font-color: #fff;
}

html {
	font-size: 16px;
}

html, body {
	background-color: var(--active-file-bg-color);
	font-family: "PT Serif", 'Times New Roman', Times, serif;
	color: #1f0909;
	line-height: 1.5em;
}

#write {
	max-width: 40em;
	min-width: 40em;
}

@media only screen and (min-width: 1400px) {
	#write {
			max-width: 914px;
	}
}


/* 标题：h1~h6 */
#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
	font-weight: bold;
	margin-bottom: 1.5em;
}

#write h1 {
	font-size: 1.875em;
	/*30 / 16*/
	line-height: 1.6em;
	/* 48 / 30*/
	margin-top: 2em;
	text-align: center;
	margin-bottom: .5em;
	border-color: #c5c5c5;
}

#write h1::after {
	display: block;
	width: 100%;
	height: 1px;
	background-color: red;
	margin-bottom: 1.875em;
	padding-bottom: 0.8125em;
}

#write h2,
#write h3 {
	font-size: 1.3125em;
	/*21 / 16*/
	line-height: 1.15;
	/*24 / 21*/
	margin-top: 2.285714em;
	/*48 / 21*/
	margin-bottom: .75em;
	/*24 / 21*/
}


#write h3 {
	font-weight: normal;
}

#write h4 {
	font-size: 1.125em;
	/*18 / 16*/
	margin-top: 2.67em;
	/*48 / 18*/
}

#write h5,
#write h6 {
	font-size: 1em;
	/*16*/
}


#write h3 + ul,
#write h4 + ul,
#write h5 + ul,
#write h6 + ul,
#write h3 + ol,
#write h4 + ol,
#write h5 + ol,
#write h6 + ol {
	margin-top: .5em;
}

/* 超链接 */
#write a {
	text-decoration: none;
	color: #065588;
}
#write a:hover,
#write a:active {
	text-decoration: underline;
}

/* 代码块 */
blockquote,
q {
	quotes: none;
	margin-bottom: 1.5em;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

blockquote {
	font-style: italic;
	border-left: 5px solid;
	margin-left: 2em;
	padding-left: 1em;
	border-color: #bababa;
	color: #656565;
}
blockquote ul,
blockquote ol {
	margin-left:0;
}

pre,
code,
tt {
	font-size: .875em;
	line-height: 1.714285em;
}

/* 代码段 */
code {
	padding-left: 2px;
	padding-right: 2px;
	background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
	color: #F5F5F5;
}

#write tt {
	margin: 0 2px;
}

#write mark {
	background-color: #fbd3ea;
	border-radius: 2px;
	padding: 2px 4px;
	margin: 0 2px;
}

#write del {
	padding: 1px 2px;
	color: #999;
}

#write del span {
	color: #999;
}

#write pre.md-meta-block {
	padding: 1rem;
	font-size: 85%;
	line-height: 1.45;
	background-color: #f7f7f7;
	border: 0;
	border-radius: 3px;
	color: var(--control-text-color);
	margin-top: 0 !important;
}
#write strong {
	font-weight: 600;
	background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
	color: transparent;
	-webkit-background-clip: text;
}

#write em {
	font-weight: 400;
	background-image: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%);
	color: transparent;
	-webkit-background-clip: text;
}

#write strong em {
	font-weight: 600;
	background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
	color: transparent;
	-webkit-background-clip: text;
}

#write .md-footnote {
	background-color: #f8f8f8;
	color: var(--purple-3);
}

/* 列表 */

/* 有序列表 */
#write ol li {
	list-style-type: decimal;
	list-style-position: outside;
}

/* 无序列表 */
#write ul li {
	list-style-type: disc;
	list-style-position: outside;
}
#write ul,
#write ol {
	margin: 0 0 1.5em 1.5em;
	list-style: none;
}

#write p + ul,
#write p + ol{
	margin-top: .5em;
}

#write li > ul,
#write li > ol {
	margin-top: inherit;
	margin-bottom: 0;
}

#write li ol>li {
	list-style-type: lower-alpha;
}

#write li li ol>li{
	list-style-type: lower-roman;
}

#write blockquote ul,
#write blockquote ol {
	margin-left:0;
}

#write .auto-suggest-container ul li {
	list-style-type: none;
}

/* 分割线 */
#write hr {
	border-top: none;
	border-right: none;
	border-bottom: 1px solid;
	border-left: none;
	border-color: #c5c5c5;
}

/* 表格 */
#write table {
	margin-bottom: 1.5em;
	/*24 / 16*/
	font-size: 1em;
	/* width: 100%; */
	border-collapse: collapse;
	border-spacing: 0;
}
#write thead th,
#write tfoot th {
	padding: .25em .25em .25em .4em;
	text-transform: uppercase;
}
#write th {
	text-align: left;
}
#write td {
	vertical-align: top;
	padding: .25em .25em .25em .4em;
}

#write thead {
	background-color: #dadada;
}
#write tr:nth-child(even) {
	background: #e8e7e7;
}
